{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    {% set now = date() %}
    {% set displayNextLink = (nextDate < now) %}

    {% if period.startDate.format('m') != now.format('m') %}
        <a href="{{ path('app_reporting', {year: now.format('Y'), month: now.format('m')}) }}"
        >Aller au mois de {{ now.format('M') ~ ' ' ~ now.format('Y') }}</a>
    {% endif %}

    <div id="reporting" class="panel panel-default">
        <div class="panel-heading">
            <a href="{{ previousLink }}" class="left">
                <i class="fa fa-arrow-circle-left"></i>
                {{ previousDate | localizeddate('none', 'none', null, null, 'MMMM') | capitalize }}</a>

            {{ period.startDate | localizeddate('none', 'none', null, null, 'MMMM') | capitalize }}

            {% if displayNextLink %}
                <a href="{{ nextLink }}" class="right">
                    {{ nextDate | localizeddate('none', 'none', null, null, 'MMMM') | capitalize }}
                    <i class="fa fa-arrow-circle-right"></i></a>
            {% endif %}
        </div>
        <div class="panel-body">
            <a href="#" id="show-profile-form-link">Ajouter un profil <i class="fa fa-caret-down"></i></a>

            <form action="{{ path('app_add_profile') }}" method="post" id="add-profile-form" class="hide">
                {{ form_errors(profilesForms) }}
                {{ form_widget(profilesForms) }}

                <input type="submit" value="Ajouter le profil"/>
            </form>
        </div>

        <form id="reporting-form" action="{{ path('app_save_reporting') }}" method="post">
            <table class="table table-condensed">
                <thead></thead>
                <tbody>
                <tr>
                    <td></td>

                    {% for day in period.getDatePeriod('1 DAY') %}
                        {% set isWeekEndDay = day.format('N') in [6,7] %}
                        {% set isToday = day.format('d/m/Y') == now.format('d/m/Y') %}

                        <th class="header-days{{ isWeekEndDay ? ' week-end' : '' }}{% if isToday %} today{% endif %}">
                            {{ day | localizeddate('none', 'none', null, null, 'EEE') }}<br/>
                            {{ day | localizeddate('none', 'none', null, null, 'dd') }}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for project in projects %}

                        {% for profile in project.profiles %}
                            <td>
                                {{ profile.name }} ({{ project.name }})
                            </td>
                            {% for day in period.getDatePeriod('1 DAY') %}
                                {% set isWeekEndDay = day.format('N') in [6,7] %}
                                {% set isToday = day.format('d/m/Y') == now.format('d/m/Y') %}
                                {% set data = forms[profile.id][day.format('d')].vars.data %}
                                {% set shouldBeFilled = day < now and data.duration == 0 and not isWeekEndDay and not isToday %}

                                <td class="worked-days{% if shouldBeFilled %} red-days{% endif %}{% if isWeekEndDay %} week-end{% endif %}{% if isToday %} today{% endif %}">
                                    {{ form_widget(forms[profile.id][day.format('d')]) }}
                                </td>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                </tbody>
            </table>
            {{ form_widget(form._token) }}
        </form>
    </div>

    <style>
        #page-wrapper {
            padding-top: 76px;
        }

        td input[type=text] {
            border-radius: 0;
            padding: 0;
            text-align: center;
        }

        #reporting .panel-heading {
            font-weight: bold;
            text-align: center;
        }

        #reporting table th,
        #reporting table td {
            min-width: 25px;
            text-align: center;
        }

        #reporting table td:nth-child(1) {
            width: 200px;
        }

        #reporting table .red-days {
            background-color: #ffa19c;
        }
        #reporting table .week-end {
            background-color: lightgrey;
        }
        #reporting table .today {
            background-color: lightyellow;
        }

        .right {
            float: right;
        }

        .left {
            float: left;
        }

        .hide {
            display: none;
        }

        .show {
            display: block;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('ready', function () {
            var reportingForm = $('#reporting-form');
            var addProfileForm = $('#add-profile-form');

            reportingForm.find('input').on('change', function (e) {
                var input = $(this);
                var currentValue = e.currentTarget.attributes['value'].value;

                $.ajax({
                    method: 'post',
                    url: reportingForm.attr('action'),
                    data: reportingForm.serialize(),
                    error: function () {
                        input.val(currentValue);
                    },
                    success: function () {
                        validate();
                    }
                });
            });

            $('#show-profile-form-link').on('click', function () {

                if (addProfileForm.hasClass('hide')) {
                    addProfileForm.removeClass('hide');
                    addProfileForm.addClass('show');
                } else {
                    addProfileForm.removeClass('show');
                    addProfileForm.addClass('hide');
                }

                return false;
            });

            function validate() {
                var table = reportingForm.find('table');
                var workedDays = table.find('.worked-days');
                var header = table.find('.header-days');
                var redDays = [];

                workedDays.find('input[type=text]').each(function (index, input) {
                    var value = $(input).val();

                    if (value > 1) {
                        //redDays.push(index);
                    }
                });

                if (redDays.length > 0) {
                    header.each(function (index, value) {
                        if (redDays.indexOf(index) !== -1) {
                            $(value).addClass('red-days');
                        }
                    });
                }
            }

            validate();
        });
    </script>
{% endblock %}
