{% extends 'AppBundle::base.html.twig' %}

{% block content %}

    <a href="{{ path('app_reporting', {year: previousPeriod.format('Y'), month: previousPeriod.format('m')}) }}">précédent</a>


    <style scoped>
        td input[type=text] {
            width: 100%;
        }
    </style>

    <form id="reporting-form" action="{{ path('app_save_reporting') }}" method="post">
    <table class="table">
        <thead></thead>
        <tbody>

        <tr>
            <td></td>

            {% for day in period.getDatePeriod('1 DAY') %}
                <td>
                    {{ day.format('D') }}<br/>
                    {{ day.format('d') }}

                </td>
            {% endfor %}
        </tr>
        <tr>
            {% for project in projects %}

                {% for profile in project.profiles %}
                    <td>
                        {{ profile.name }} ({{ project.name }})
                    </td>
                    {% for day in period.getDatePeriod('1 DAY') %}
                        <td>
                            {{ form_widget(forms[profile.id][day.format('d')]) }}
                        </td>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </tr>
        </tbody>
    </table>
        {{ form_widget(form._token) }}
    </form>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).on('ready', function () {
            var reportingForm = $('#reporting-form');

            reportingForm.find('input').on('change', function (e) {
                var input = $(this);
                var currentValue = e.currentTarget.attributes['value'].value;

                $.ajax({
                    method: 'post',
                    url: reportingForm.attr('action'),
                    data: reportingForm.serialize(),
                    error: function () {
                        input.val(currentValue);
                    }
                });
            });

        });
    </script>
{% endblock %}
